
        h1 Books
        p
            a.button(href="/new-book")
        table
            thead
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
            tbody
                tr
                    td
                        a(href="/detail") A Brief History of Time
                    td Stephen Hawking
                    td Non Fiction
                    td 1988